# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\18354416380phj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
